# Виртуальное окружение
.venv/
venv/
env/
.env

# Кэши и временные файлы
.ruff_cache/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/

# Файлы IDE
.vscode/
.idea/
*.swp

# Логи и базы данных
*.log
app.db

# Файлы окружения
.env
.env.local

# Сборки и зависимости
dist/
build/
*.egg-info/

# Git
*.orig